{
    "parser": "babel-eslint",
    "env":{
        "es6": true,
        "browser": true,
        "node": true
    },
    "rules":{
        "linebreak-style": 0,
        "object-curly-spacing": 0,
        "comma-dangle": "off",
        "indent":"off",
        "require-jsdoc": "off"
    },
    "extends": ["eslint:recommended", "google"]
}